/* 
 *
 * Main stylesheet for Gridlock theme
 *
 * Authored by Lingliang Zhang
 */
body, html {
  height: 100%;
    
}
img {
  max-width: 100%;
}

.article-container {
  padding: 10px 0px;
  margin: 0px 10px;
  border: solid;
  border-color: #bbbbbb;
  border-width: 0px;
  border-bottom-width: 1px;
  .article-small:first {
    background: red;
    border-color: #bbbbbb;
    border: solid;
    border-width: 0px;
    border-right-width: 1px;
  }
  .article-image {
    height: 180px;
    .image {
      width: 100%;
      height: 180px;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .image-overlay {
      display: none;
    }
  }
  .article-description {
    height: 180px;
  }
}

.row .row {
  margin: 0px 0px;
    
}
#commentform {
  label {
    margin-right: 30px;
  }
  #submit {
    margin-left: 95px;
    width: 381px;
  }
}
#header {
  padding: 0px 15px;
  .navbar-form {
    width: 80%;
    float: left;
  }
}
#sidebar {
  display: none; 
}
.divider {
  padding: 20px 0px;
  border: solid;
  border-color: #bbbbbb;
  border-width: 0px;
  border-bottom-width: 1px;
}

@media screen and (min-width: 768px) {
  .gridlock-row {
    padding: 15px 0px;
    border: solid;
    border-color: #bbbbbb;
    border-width: 0px;
    border-bottom-width: 1px;
  }
  .article-container {
    border-width: 0px;
    padding: 0px 15px;
    margin: 0px;
    .article-description.hidden-large {
      display: none;
    }
    .article-image {
      .image-overlay {
        display: block;
        padding-left: 10px;
        width: 100%;
        height: 50px;
        background: #000;
        background: -webkit-gradient(linear, center bottom, center top, from(transparent), to(rgba(0, 0, 0, .7)));
        background: -webkit-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.701961));
        .image-overlay-text {
          display: block;
          position: absolute;
          width: 100%;
          padding-left: 10px;
          h4 {
            color: white;
          }
          h4:hover {
            color: white;
          }
        }
      }
    }
    &.article-small:first-child, &.article-medium:first-child {
      border: solid;
      border-width: 0px;
      border-color: #bbbbbb;
      border-right-width: 1px;
    }
  }
  .navbar-form {
    width: 30%;
    float: right;
  }
  #sidebar {
    display: block;
  }
}
